@page "/"

@rendermode InteractiveServer

@using BlazorApp.Dtos

<PageTitle>Productos</PageTitle>

<h1>Productos</h1>

@if (_products == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
                <tr>
                    <td><img src="@product.Category.ImageUrl" alt="@product.Title" width="50" height="60" /></td>
                    <td><a href="/product/@product.Guid.ToString()">@product.Title</a></td>
                    <td>@product.Description</td>
                    <td>@product.Price€</td>
                    <td> <button @onclick="() => AddProductToCart(product)" class="btn btn-primary" style="display: block; margin-top: 10px; width: 100%">Añadir al carrito</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        <button class="btn btn-primary" @onclick="PreviousPage" disabled="@(_page == 0)">&lt;</button>
        <span>@_page/@_totalPages</span>
        <button class="btn btn-primary" @onclick="NextPage" disabled="@(_page == _totalPages)">&gt;</button>
    </div>
}