@page "/product/{ProductGuid}"

@rendermode InteractiveServer

@if (product == null)
{
    <p><em>@loadingText</em></p>
}
else
{
    <h1>@product.Title</h1>
    <h2>@product.Price€</h2>

    <p>@product.Description</p>

    <button @onclick="AddToCart" class="btn btn-primary" style="display: block; margin-top: 10px; margin-bottom: 10px;">Añadir al carrito</button>

    <div>
        <h3>Detalles del Producto</h3>

        <img src="@product.Category?.ImageUrl" alt="Imagen de producto" />
        <p><strong>Precio de Venta:</strong> $@product.SalePrice</p>
        <p><strong>Fecha de Creación:</strong> @product.Created.ToShortDateString()</p>
        <p><strong>Inventario:</strong> @product.Inventory</p>
        <p><strong>Tiempo de Entrega:</strong> @product.LeadTime días</p>
    </div>
}